
@{
    Layout = null;
}

<!DOCTYPE html>
<link href="~/Content/default/easyui.css" rel="stylesheet" />
<script src="~/Scripts/jquery-1.7.1.min.js"></script>
<script src="~/Scripts/easyui-lang-zh_CN.js"></script>
<script src="~/Scripts/jquery.easyui.min.js"></script>
<link href="~/Content/icon.css" rel="stylesheet" />
<link href="~/Content/pageBar.css" rel="stylesheet" />
<link href="~/Content/tableStyle.css" rel="stylesheet" />
<style type="text/css">
    .txt {
        font-size: 16px;
        font-weight: bolder;
        float: right;
        margin-top: 15px;
        margin-right: 20px;
    }
</style>
<script type="text/javascript">
    $(function () {
        binClickEvent();
    });
    function binClickEvent() {
        //绑定超链接的单击事件
        $(".deteilLink").click(function () {
            var title = $(this).text();//拿到detailLink的text的值作为下边添加的元素的title值
            var url = $(this).attr("url");//拿到detailLink的url的值
            var isExt = $('#tt').tabs('exists', title);//判断页签是否存在
            if (isExt) {
                $('#tt').tabs('select', title);//如果已经存在，使它处于选中状态
                return;
            }
            $('#tt').tabs('add', {
                title: title,
                content: showContent(url),//追加iframe
                closable: true
            });

        });
        function showContent(url) {
            //向页签内追加iframe的方法
            var strHtml = '<iframe src="' + url + '" scrolling="no" width="100%" height="100%" frameborder="0"></iframe>';
            return strHtml;
        }
    }
</script>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>后台管理首页</title>
</head>
<body class="easyui-layout">
    <!------------------顶部布局-------------->
    <div region="north" border="false" style="height:65px;background:#B3DFDA; overflow:hidden;background-image:url('/Content/Images/bg3.png')">       
        <span class="txt">欢迎登录 @DateTime.Now.ToString("yyyy-MM-dd")</span>
    </div>
    <!------------------顶部布局结束-------------->
    <!------------------左边布局-------------->
    <div region="west" split="true" title="West" style="width:150px;padding:2px;">
        <div id="aa" class="easyui-accordion" style="width:auto;height:auto;">
            <div title="新闻管理" iconCls="icon-ok" style="overflow:auto;padding:10px;">
                <a href="javascript:void(0)" class="deteilLink" url="/AdminNewsList/Index">新闻管理</a>
            </div>
            <div title="评论管理" iconCls="icon-reload" selected="true" style="padding:10px;">
                <a href="javascript:void(0)" class="deteilLink" url="/AdminCommentList/Index">评论管理</a>
            </div>
        </div>
    </div>
    <!------------------左边布局结束-------------->
    <!-----------------底部布局-------------->
    <div region="south" border="false" style="height:30px;background:#A9FACD;padding:10px;
    text-align:center">版权  &copy;  DLMU</div>
    <!-----------------底部布局结束-------------->
    @* 中间的布局 *@
    <div region="center" title="Main Title">
        <div class="easyui-tabs" style="width:700px;height:250px" fit="true" id="tt">@* fit=true表示平铺满整个iframe *@
            <div title="新闻管理" closable="true"  style="padding:10px"   id="tt">
                <iframe src="/AdminNewsList/Index" scrolling="no" width="100%" height="100%" frameborder="0"></iframe>
            </div>
            <div title="Help" iconCls="icon-help" data-options="iconCls:icon-help,closable:true" closable="true"   style="padding:10px">
                This is the help content.
            </div>            
        </div>
    </div>
    @* 中间的布局结束 *@
</body>
</html>
